@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
    letter-spacing: 1px;
}

html::-webkit-scrollbar {
    display: none;
}

/* Colors  */
:root {
    --main: #00C2A8;
    --header: #2F4858;
    --hover: #00909A;
    --gray: #d7d7d7;
    --red: #E31A34;
    --shadow: #999999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error p {
    color: var(--red);
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}

button[disabled]:hover {
    border: none;
    background-color: #cccccc;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .admin img{
        display: none;
    }
}